In [1]:
import pandas as pd
from datetime import datetime, timedelta, time

In [5]:
dfPM = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_mesure_capteur_PM.txt', skiprows=4, delimiter='\t', header=0, encoding = 'unicode_escape', engine='python', skipfooter=1 )

In [6]:
dfPM

,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN
...,...,...,...,...,...,...,...,...,...,...
437,07/12/2021,10:06:23,07/12/2021,10:06:33,"4369,83","6,24","11,69","16,51","16,54",NaN
438,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN
439,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN

In [7]:
dfCM = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_mesure_capteur_Cm_P_M1.txt', delimiter='\t', header=0, encoding = 'unicode_escape', engine='python')

In [8]:
dfCM

,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
0,07/12/2021,08:53:03,"0,00","0,006068","100,477013","0,297158","0,297158",NaN
1,07/12/2021,08:53:13,"9,94","0,014342","87,791519","0,334537","0,334537",NaN
2,07/12/2021,08:53:23,"19,87","0,018057","86,701172","0,347369","0,347369",NaN
3,07/12/2021,08:53:33,"30,02","0,011534","94,408958","0,305804","0,305804",NaN
4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
...,...,...,...,...,...,...,...,...
441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN
445,07/12/2021,10:07:13,"4450,00","0,014342","82,629318","0,344106","0,344106",NaN

In [17]:
def mergeDF_PM_CM(PM, CM, index_beginning_PM, index_end_PM, index_beginning_CM, index_end_CM):
    dfPMs = pd.concat([PM.iloc[index_beginning_PM:index_end_PM].reset_index(), CM.iloc[index_beginning_CM:index_end_CM].reset_index()], axis = 1)
    return dfPMs

In [21]:
dfPMs = mergeDF_PM_CM(dfPM, dfCM, 0, dfPM.shape[0], 3, dfCM.shape[0])
dfPMs

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9,index,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,3,07/12/2021,08:53:33,"30,02","0,011534","94,408958","0,305804","0,305804",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,5,07/12/2021,08:53:54,"50,25","0,010748","366,369293","0,271827","0,271827",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,6,07/12/2021,08:54:03,"59,97","0,011452","190,378845","0,275540","0,275540",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,7,07/12/2021,08:54:13,"69,92","0,007221","107,264763","0,300153","0,300153",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN,441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN,442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445,07/12/2021,10:07:13,"4450,00","0,014342","82,629318","0,344106","0,344106",NaN

In [2]:
dfWeather = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_et_Retour_meteo.txt', skiprows=14, delimiter=';', header=0)

In [3]:
dfWeather

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,2,08:40:19,"8,3","92,7","1007,2","1,51",177,"744,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,3,08:40:20,"8,3","92,7","1007,2","1,44",153,"749,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,4,08:40:21,"8,3","92,7","1007,2","1,9",152,"745,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,5,08:40:22,"8,3","92,7","1007,2","2,47",176,"744,1",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,6,08:40:23,"8,3","92,7","1007,2","1,95",188,"749,3",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9584,9592,11:20:09,"11,2","86,5","1002,4","3,74",357,"581,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9585,9593,11:20:10,"11,1","86,5","1002,4","3,18",2,583,0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9586,9594,11:20:11,"11,1","86,5","1002,4","2,67",356,"582,2",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9587,9595,11:20:12,"11,1","86,4","1002,4","2,35",347,"581,4",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9588,9596,11:20:13,"11,1","86,4","1002,4","2,06",346,"583,6",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [4]:
# Remove space at the end of heure
dfWeather['heure'] = dfWeather['heure'].apply(lambda x: x.strip())

In [24]:
dfPMsWithWeather = dfPMs.merge(right=dfWeather, how='left', left_on='time beginning', right_on='heure')
dfPMsWithWeather

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,333.0,"615,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,340.0,"613,4",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,18.0,"613,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,42.0,"611,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,359.0,"610,1",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,5.0,"586,9",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,25.0,"586,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,2.0,"587,3",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,356.0,"586,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dfGeoloc = pd.read_csv('erdre_aller_7_12/E_07-12-2021_Pied_1_Aller_Geoloc.csv', delimiter=',')

In [27]:
dfGeoloc

      Elev.       Lat.      Lon.                  Timestamp
0     -27.0  47.228248 -1.553037  2021-12-07T07:42:55+00:00
1      71.0  47.228394 -1.553178  2021-12-07T07:42:56+00:00
2      90.0  47.228367 -1.553143  2021-12-07T07:42:57+00:00
3      87.0  47.228394 -1.553220  2021-12-07T07:42:58+00:00
4      84.0  47.228361 -1.553220  2021-12-07T07:42:59+00:00
...     ...        ...       ...                        ...
1513   70.0  47.255996 -1.539465  2021-12-07T08:53:55+00:00
1514   70.0  47.256017 -1.539496  2021-12-07T08:53:57+00:00
1515   70.0  47.256046 -1.539455  2021-12-07T08:53:58+00:00
1516   71.0  47.256076 -1.539430  2021-12-07T08:53:59+00:00
1517   70.0  47.256088 -1.539417  2021-12-07T08:54:00+00:00

[1518 rows x 4 columns]

dfGeoloc['time'] = dfGeoloc['Timestamp'].apply(func=lambda x: x.split('T')[1].split("+")[0])

dfGeoloc

def f(x):
    res=''
    if x[1] == '9':
        res = str(int(x[0]) + 1) + '0' + x[2:]
    else:
        res= x[0] + str(int(x[1]) + 1) + x[2:]
    return res

dfGeoloc['timeMerge'] = dfGeoloc['time'].apply(f)

dfGeoloc

In [28]:
dfPMsWithWeather

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,333.0,"615,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,340.0,"613,4",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,18.0,"613,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,42.0,"611,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,359.0,"610,1",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,5.0,"586,9",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,25.0,"586,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,2.0,"587,3",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,356.0,"586,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
dfWeather

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,2,08:40:19,"8,3","92,7","1007,2","1,51",177,"744,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,3,08:40:20,"8,3","92,7","1007,2","1,44",153,"749,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,4,08:40:21,"8,3","92,7","1007,2","1,9",152,"745,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,5,08:40:22,"8,3","92,7","1007,2","2,47",176,"744,1",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,6,08:40:23,"8,3","92,7","1007,2","1,95",188,"749,3",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9584,9592,11:20:09,"11,2","86,5","1002,4","3,74",357,"581,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9585,9593,11:20:10,"11,1","86,5","1002,4","3,18",2,583,0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9586,9594,11:20:11,"11,1","86,5","1002,4","2,67",356,"582,2",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9587,9595,11:20:12,"11,1","86,4","1002,4","2,35",347,"581,4",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9588,9596,11:20:13,"11,1","86,4","1002,4","2,06",346,"583,6",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [29]:
dfGeoloc['timeTmp'] = dfGeoloc['Timestamp'].apply(
    lambda x:
    datetime.fromisoformat(x) +
    timedelta(hours=1, minutes=10, seconds=39)
)

In [30]:
dfGeoloc

,Elev.,Lat.,Lon.,Timestamp,timeTmp
0,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00
1,71.0,47.228394,-1.553178,2021-12-07T07:42:56+00:00,2021-12-07 08:53:35+00:00
2,90.0,47.228367,-1.553143,2021-12-07T07:42:57+00:00,2021-12-07 08:53:36+00:00
3,87.0,47.228394,-1.553220,2021-12-07T07:42:58+00:00,2021-12-07 08:53:37+00:00
4,84.0,47.228361,-1.553220,2021-12-07T07:42:59+00:00,2021-12-07 08:53:38+00:00
...,...,...,...,...,...
1513,70.0,47.255996,-1.539465,2021-12-07T08:53:55+00:00,2021-12-07 10:04:34+00:00
1514,70.0,47.256017,-1.539496,2021-12-07T08:53:57+00:00,2021-12-07 10:04:36+00:00
1515,70.0,47.256046,-1.539455,2021-12-07T08:53:58+00:00,2021-12-07 10:04:37+00:00
1516,71.0,47.256076,-1.539430,2021-12-07T08:53:59+00:00,2021-12-07 10:04:38+00:00
1517,70.0,47.256088,-1.539417,2021-12-07T08:54:00+00:00,2021-12-07 10:04:39+00:00

datetime.fromisoformat('2011-11-04 00:05:23.283+00:00')

In [31]:
dfGeoloc['time'] = dfGeoloc['timeTmp'].apply(lambda x: str(x).split(" ")[1].split("+")[0])

In [32]:
dfGeoloc

,Elev.,Lat.,Lon.,Timestamp,timeTmp,time
0,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00,08:53:34
1,71.0,47.228394,-1.553178,2021-12-07T07:42:56+00:00,2021-12-07 08:53:35+00:00,08:53:35
2,90.0,47.228367,-1.553143,2021-12-07T07:42:57+00:00,2021-12-07 08:53:36+00:00,08:53:36
3,87.0,47.228394,-1.553220,2021-12-07T07:42:58+00:00,2021-12-07 08:53:37+00:00,08:53:37
4,84.0,47.228361,-1.553220,2021-12-07T07:42:59+00:00,2021-12-07 08:53:38+00:00,08:53:38
...,...,...,...,...,...,...
1513,70.0,47.255996,-1.539465,2021-12-07T08:53:55+00:00,2021-12-07 10:04:34+00:00,10:04:34
1514,70.0,47.256017,-1.539496,2021-12-07T08:53:57+00:00,2021-12-07 10:04:36+00:00,10:04:36
1515,70.0,47.256046,-1.539455,2021-12-07T08:53:58+00:00,2021-12-07 10:04:37+00:00,10:04:37
1516,71.0,47.256076,-1.539430,2021-12-07T08:53:59+00:00,2021-12-07 10:04:38+00:00,10:04:38
1517,70.0,47.256088,-1.539417,2021-12-07T08:54:00+00:00,2021-12-07 10:04:39+00:00,10:04:39

In [35]:
dfFinal = dfPMsWithWeather.merge(right=dfGeoloc, how='left', left_on='time beginning', right_on='time')
dfFinal

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,Elev.,Lat.,Lon.,Timestamp,timeTmp,time_y
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,"0,00","0,00","0,00",NaN,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00,08:53:34
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,"0,00","0,00","0,00",NaN,77.0,47.228361,-1.553233,2021-12-07T07:43:05+00:00,2021-12-07 08:53:44+00:00,08:53:44
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,"0,00","0,00","0,00",NaN,67.0,47.228425,-1.553269,2021-12-07T07:43:14+00:00,2021-12-07 08:53:53+00:00,08:53:53
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,"0,00","0,00","0,00",NaN,65.0,47.228421,-1.553281,2021-12-07T07:43:24+00:00,2021-12-07 08:54:03+00:00,08:54:03
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
441,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
442,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
443,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [41]:
dfFinal.isna().sum()

index                  1
date beginning         1
time beginning         1
date end               1
time end               1
relative time [s]      1
PM1_ambient -          1
PM2.5_ambient -        1
PM4_ambient -          1
PM10_ambient -         1
Unnamed: 9           445
index                  0
date                   0
time_x                 0
relative time [s]      0
Cm [mg/m^3]            0
Cn [P/cm^3]            0
M1,0 [Âµm]              0
M1,0 [Âµm].1            0
Unnamed: 7           445
Chrono                 4
heure                  4
T [Â°C)                 4
HR [%).                4
Pression [mBar)        4
Vit. Vent [m/s)        4
Dir. Vent [Â°)          4
Lumi [W/mÂ²)            4
POM [Km).              4
CN[P/cm3)              4
PMTot[Âµm)              4
PM1[Âµm)                4
PM2.5[Âµm)              4
PM4[Âµm)                4
PM10[Âµm)               4
Unnamed: 15          445
Elev.                294
Lat.                 294
Lon.                 294
Timestamp            294
timeTmp              294
time_y               294
dtype: int64

In [57]:
# Not inner join -> keep all capteurs data ???

In [49]:
dfCM.loc[(dfCM['time']>= dfPM['time beginning'].min()) & (dfCM['time']<= dfPM['time beginning'].max())]

,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
5,07/12/2021,08:53:54,"50,25","0,010748","366,369293","0,271827","0,271827",NaN
6,07/12/2021,08:54:03,"59,97","0,011452","190,378845","0,275540","0,275540",NaN
7,07/12/2021,08:54:13,"69,92","0,007221","107,264763","0,300153","0,300153",NaN
8,07/12/2021,08:54:23,"80,11","0,014125","74,670677","0,324940","0,324940",NaN
...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:23,"4399,87","0,038620","83,986641","0,345411","0,345411",NaN
441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN

In [60]:
dfTest = pd.concat([dfPM, dfCM.loc[(dfCM['time']>= dfPM['time beginning'].min()) & (dfCM['time']<= dfPM['time beginning'].max())]], ignore_index=True, axis=1)

In [61]:
dfTest

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,07/12/2021,10:06:23,"4399,87","0,038620","83,986641","0,345411","0,345411",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN

In [65]:
dfPms = dfPM.merge(how='left', right=dfCM, left_on='time beginning', right_on='time')

In [66]:
dfPms

,date beginning,time beginning,date end,time end,relative time [s]_x,PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9,date,time,relative time [s]_y,Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,07/12/2021,08:54:03,"59,97","0,011452","190,378845","0,275540","0,275540",NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,07/12/2021,08:54:13,"69,92","0,007221","107,264763","0,300153","0,300153",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,07/12/2021,10:06:23,07/12/2021,10:06:33,"4369,83","6,24","11,69","16,51","16,54",NaN,07/12/2021,10:06:23,"4399,87","0,038620","83,986641","0,345411","0,345411",NaN
438,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
439,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN

In [31]:
dfPMsWth = dfPMs.merge(right=dfWeather, how='left', left_on='time beginning', right_on='heure')

In [33]:
dfPMsWth

,date beginning,time beginning,date end,time end,relative time [s]_x,PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9,...,Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,...,333.0,"615,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,...,340.0,"613,4",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,...,18.0,"613,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,...,42.0,"611,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,...,359.0,"610,1",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,07/12/2021,10:06:23,07/12/2021,10:06:33,"4369,83","6,24","11,69","16,51","16,54",NaN,...,85.0,587,0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
438,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN,...,5.0,"586,9",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
439,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN,...,25.0,"586,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,...,2.0,"587,3",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,...,356.0,"586,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [42]:
dfPMWthGeoloc = dfPMsWth.merge(right=dfGeoloc, how='left', left_on='time beginning', right_on='time')

In [43]:
dfPMWthGeoloc

,date beginning,time beginning,date end,time end,relative time [s]_x,PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9,...,PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,Elev.,Lat.,Lon.,Timestamp,timeTmp,time_y
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,...,"0,00","0,00","0,00",NaN,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00,08:53:34
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,...,"0,00","0,00","0,00",NaN,77.0,47.228361,-1.553233,2021-12-07T07:43:05+00:00,2021-12-07 08:53:44+00:00,08:53:44
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,...,"0,00","0,00","0,00",NaN,67.0,47.228425,-1.553269,2021-12-07T07:43:14+00:00,2021-12-07 08:53:53+00:00,08:53:53
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,...,"0,00","0,00","0,00",NaN,65.0,47.228421,-1.553281,2021-12-07T07:43:24+00:00,2021-12-07 08:54:03+00:00,08:54:03
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,07/12/2021,10:06:23,07/12/2021,10:06:33,"4369,83","6,24","11,69","16,51","16,54",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
440,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
441,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
442,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
443,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [43]:
!pip install gpx-converter

Collecting gpx-converter
  Downloading https://files.pythonhosted.org/packages/80/b1/6fff652d099b9a183f46845e6068698c44b34931d91f64ab8a98299ccbd2/gpx_converter-2.0.0-py2.py3-none-any.whl
Collecting gpxpy>=1.4.0 (from gpx-converter)
  Downloading https://files.pythonhosted.org/packages/2a/c1/da7df89bd25eea5f464e335b2471f78c1e8f4d6ea2b2410bd89282fcf3c5/gpxpy-1.5.0.tar.gz (111kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 112kB 4.7MB/s ta 0:00:01
Requirement already satisfied: numpy>=1.18.1 in /Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages (from gpx-converter) (1.21.4)
Requirement already satisfied: pandas>=1.0.3 in /Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages (from gpx-converter) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages (from pandas>=1.0.3->gpx-converter) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages (from pandas>=1.0.3->gpx-converter) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->gpx-converter) (1.16.0)
Building wheels for collected packages: gpxpy
  Running setup.py bdist_wheel for gpxpy ... done
  Stored in directory: /Users/mathis/Library/Caches/pip/wheels/3e/75/08/561d76e20172bbe41c15c7d67bdb35738fddef0ec73fa40f95
Successfully built gpxpy
Installing collected packages: gpxpy, gpx-converter
Successfully installed gpx-converter-2.0.0 gpxpy-1.5.0
You are using pip version 18.1, however version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [45]:
from gpx_converter import Converter

In [46]:
df = Converter(input_file='SO_25-01-22_Pied_3_Aller_Geoloc.gpx').gpx_to_dataframe()

In [47]:
df

                          time   latitude  longitude  altitude
0    2022-01-25 08:58:54+00:00  47.238816  -1.570715     109.0
1    2022-01-25 08:58:54+00:00  47.238753  -1.570788      96.0
2    2022-01-25 08:58:55+00:00  47.238765  -1.570696      89.0
3    2022-01-25 08:58:57+00:00  47.238769  -1.570669      87.0
4    2022-01-25 08:58:58+00:00  47.238766  -1.570676      84.0
...                        ...        ...        ...       ...
3079 2022-01-25 09:50:01+00:00  47.264623  -1.597015      66.0
3080 2022-01-25 09:50:02+00:00  47.264623  -1.597015      66.0
3081 2022-01-25 09:50:03+00:00  47.264623  -1.597015      66.0
3082 2022-01-25 09:50:04+00:00  47.264623  -1.597015      66.0
3083 2022-01-25 09:50:05+00:00  47.264623  -1.597015      66.0

[3084 rows x 4 columns]

In [67]:
df.drop_duplicates()

                          time   latitude  longitude  altitude
0    2022-01-25 08:58:54+00:00  47.238816  -1.570715     109.0
1    2022-01-25 08:58:54+00:00  47.238753  -1.570788      96.0
2    2022-01-25 08:58:55+00:00  47.238765  -1.570696      89.0
3    2022-01-25 08:58:57+00:00  47.238769  -1.570669      87.0
4    2022-01-25 08:58:58+00:00  47.238766  -1.570676      84.0
...                        ...        ...        ...       ...
3079 2022-01-25 09:50:01+00:00  47.264623  -1.597015      66.0
3080 2022-01-25 09:50:02+00:00  47.264623  -1.597015      66.0
3081 2022-01-25 09:50:03+00:00  47.264623  -1.597015      66.0
3082 2022-01-25 09:50:04+00:00  47.264623  -1.597015      66.0
3083 2022-01-25 09:50:05+00:00  47.264623  -1.597015      66.0

[3072 rows x 4 columns]

In [50]:
import geopandas as gpd

In [51]:
gdf = gpd.read_file('SO_25-01-22_Pied_3_Aller_Geoloc.gpx')

In [79]:
'SO_25-01-22_Pied_3_Aller_Geoloc.gpx'[:-3]

'SO_25-01-22_Pied_3_Aller_Geoloc.'

In [52]:
gdf

,ele,time,magvar,geoidheight,name,cmt,desc,src,link1_href,link1_text,...,sym,type,fix,sat,hdop,vdop,pdop,ageofdgpsdata,dgpsid,geometry
0,51.0,2022-01-25T09:10:54+00:00,None,None,TÃ©lÃ©phone d'urgence,None,None,None,None,None,...,None,None,None,22,None,None,None,None,None,POINT (-1.57726 47.24654)
1,49.0,2022-01-25T09:11:30+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,24,None,None,None,None,None,POINT (-1.57755 47.24690)
2,73.0,2022-01-25T09:19:12+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,24,None,None,None,None,None,POINT (-1.57647 47.25242)
3,74.0,2022-01-25T09:20:05+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,23,None,None,None,None,None,POINT (-1.57643 47.25305)
4,79.0,2022-01-25T09:20:21+00:00,None,None,Parking,None,None,None,None,None,...,None,None,None,24,None,None,None,None,None,POINT (-1.57647 47.25327)
5,78.0,2022-01-25T09:20:25+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,24,None,None,None,None,None,POINT (-1.57645 47.25333)
6,79.0,2022-01-25T09:24:14+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,23,None,None,None,None,None,POINT (-1.57799 47.25586)
7,79.0,2022-01-25T09:31:41+00:00,None,None,Zone de demi-tour,None,None,None,None,None,...,None,None,None,23,None,None,None,None,None,POINT (-1.58184 47.25968)
8,83.0,2022-01-25T09:34:02+00:00,None,None,Parking,None,None,None,None,None,...,None,None,None,24,None,None,None,None,None,POINT (-1.58372 47.26027)
9,71.0,2022-01-25T09:41:43+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,22,None,None,None,None,None,POINT (-1.59184 47.26157)
10,72.0,2022-01-25T09:42:07+00:00,None,None,Station service,None,None,None,None,None,...,None,None,None,21,None,None,None,None,None,POINT (-1.59222 47.26167)

In [53]:
gdf.columns

Index(['ele', 'time', 'magvar', 'geoidheight', 'name', 'cmt', 'desc', 'src',
       'link1_href', 'link1_text', 'link1_type', 'link2_href', 'link2_text',
       'link2_type', 'sym', 'type', 'fix', 'sat', 'hdop', 'vdop', 'pdop',
       'ageofdgpsdata', 'dgpsid', 'geometry'],
      dtype='object')

In [55]:
gdf['lat'] = gdf.geometry.y

In [56]:
gdf['lon'] = gdf.geometry.x

In [57]:
gdf

,ele,time,magvar,geoidheight,name,cmt,desc,src,link1_href,link1_text,...,fix,sat,hdop,vdop,pdop,ageofdgpsdata,dgpsid,geometry,lat,lon
0,51.0,2022-01-25T09:10:54+00:00,None,None,TÃ©lÃ©phone d'urgence,None,None,None,None,None,...,None,22,None,None,None,None,None,POINT (-1.57726 47.24654),47.246543,-1.577261
1,49.0,2022-01-25T09:11:30+00:00,None,None,Station service,None,None,None,None,None,...,None,24,None,None,None,None,None,POINT (-1.57755 47.24690),47.246898,-1.577549
2,73.0,2022-01-25T09:19:12+00:00,None,None,Station service,None,None,None,None,None,...,None,24,None,None,None,None,None,POINT (-1.57647 47.25242),47.252419,-1.576468
3,74.0,2022-01-25T09:20:05+00:00,None,None,Station service,None,None,None,None,None,...,None,23,None,None,None,None,None,POINT (-1.57643 47.25305),47.253047,-1.576432
4,79.0,2022-01-25T09:20:21+00:00,None,None,Parking,None,None,None,None,None,...,None,24,None,None,None,None,None,POINT (-1.57647 47.25327),47.253269,-1.576466
5,78.0,2022-01-25T09:20:25+00:00,None,None,Station service,None,None,None,None,None,...,None,24,None,None,None,None,None,POINT (-1.57645 47.25333),47.253330,-1.576455
6,79.0,2022-01-25T09:24:14+00:00,None,None,Station service,None,None,None,None,None,...,None,23,None,None,None,None,None,POINT (-1.57799 47.25586),47.255859,-1.577992
7,79.0,2022-01-25T09:31:41+00:00,None,None,Zone de demi-tour,None,None,None,None,None,...,None,23,None,None,None,None,None,POINT (-1.58184 47.25968),47.259677,-1.581839
8,83.0,2022-01-25T09:34:02+00:00,None,None,Parking,None,None,None,None,None,...,None,24,None,None,None,None,None,POINT (-1.58372 47.26027),47.260273,-1.583717
9,71.0,2022-01-25T09:41:43+00:00,None,None,Station service,None,None,None,None,None,...,None,22,None,None,None,None,None,POINT (-1.59184 47.26157),47.261569,-1.591839
10,72.0,2022-01-25T09:42:07+00:00,None,None,Station service,None,None,None,None,None,...,None,21,None,None,None,None,None,POINT (-1.59222 47.26167),47.261674,-1.592219

In [76]:
df2 = df.merge(right=gdf[['name', 'lat', 'lon']], how='left', left_on=['latitude', 'longitude'], right_on=['lat', 'lon']).drop_duplicates()

In [78]:
df2.drop(['lat', 'lon'], axis=1,)

                          time   latitude  longitude  altitude name
0    2022-01-25 08:58:54+00:00  47.238816  -1.570715     109.0  NaN
1    2022-01-25 08:58:54+00:00  47.238753  -1.570788      96.0  NaN
2    2022-01-25 08:58:55+00:00  47.238765  -1.570696      89.0  NaN
3    2022-01-25 08:58:57+00:00  47.238769  -1.570669      87.0  NaN
4    2022-01-25 08:58:58+00:00  47.238766  -1.570676      84.0  NaN
...                        ...        ...        ...       ...  ...
3079 2022-01-25 09:50:01+00:00  47.264623  -1.597015      66.0  NaN
3080 2022-01-25 09:50:02+00:00  47.264623  -1.597015      66.0  NaN
3081 2022-01-25 09:50:03+00:00  47.264623  -1.597015      66.0  NaN
3082 2022-01-25 09:50:04+00:00  47.264623  -1.597015      66.0  NaN
3083 2022-01-25 09:50:05+00:00  47.264623  -1.597015      66.0  NaN

[3072 rows x 5 columns]

In [62]:
df2.name.unique()

array([nan, "TÃ©lÃ©phone d'urgence", 'Station service', 'Parking',
       'Zone de demi-tour'], dtype=object)

In [63]:
df2.loc[df2['name']=='Station service']

,time,latitude,longitude,altitude,name,lat,lon
757,2022-01-25 09:11:30+00:00,47.246898,-1.577549,49.0,Station service,47.246898,-1.577549
758,2022-01-25 09:11:30+00:00,47.246898,-1.577549,49.0,Station service,47.246898,-1.577549
1220,2022-01-25 09:19:12+00:00,47.252419,-1.576468,73.0,Station service,47.252419,-1.576468
1221,2022-01-25 09:19:12+00:00,47.252419,-1.576468,73.0,Station service,47.252419,-1.576468
1274,2022-01-25 09:20:05+00:00,47.253047,-1.576432,74.0,Station service,47.253047,-1.576432
1275,2022-01-25 09:20:05+00:00,47.253047,-1.576432,74.0,Station service,47.253047,-1.576432
1296,2022-01-25 09:20:25+00:00,47.253330,-1.576455,78.0,Station service,47.253330,-1.576455
1297,2022-01-25 09:20:25+00:00,47.253330,-1.576455,78.0,Station service,47.253330,-1.576455
1526,2022-01-25 09:24:14+00:00,47.255859,-1.577992,79.0,Station service,47.255859,-1.577992
1527,2022-01-25 09:24:14+00:00,47.255859,-1.577992,79.0,Station service,47.255859,-1.577992
2579,2022-01-25 09:41:43+00:00,47.261569,-1.591839,71.0,Station service,47.261569,-1.591839
2580,2022-01-25 09:41:43+00:00,47.261569,-1.591839,71.0,Station service,47.261569,-1.591839
2604,2022-01-25 09:42:07+00:00,47.261674,-1.592219,72.0,Station service,47.261674,-1.592219
2605,2022-01-25 09:42:07+00:00,47.261674,-1.592219,72.0,Station service,47.261674,-1.592219

In [65]:
df2.iloc[2600:2610]

,time,latitude,longitude,altitude,name,lat,lon
2600,2022-01-25 09:42:03+00:00,47.261661,-1.592147,72.0,NaN,NaN,NaN
2601,2022-01-25 09:42:04+00:00,47.261670,-1.592169,72.0,NaN,NaN,NaN
2602,2022-01-25 09:42:05+00:00,47.261676,-1.592189,72.0,NaN,NaN,NaN
2603,2022-01-25 09:42:06+00:00,47.261674,-1.592203,72.0,NaN,NaN,NaN
2604,2022-01-25 09:42:07+00:00,47.261674,-1.592219,72.0,Station service,47.261674,-1.592219
2605,2022-01-25 09:42:07+00:00,47.261674,-1.592219,72.0,Station service,47.261674,-1.592219
2606,2022-01-25 09:42:08+00:00,47.261677,-1.592233,72.0,NaN,NaN,NaN
2607,2022-01-25 09:42:09+00:00,47.261683,-1.592251,72.0,NaN,NaN,NaN
2608,2022-01-25 09:42:10+00:00,47.261686,-1.592269,72.0,NaN,NaN,NaN
2609,2022-01-25 09:42:11+00:00,47.261694,-1.592288,72.0,NaN,NaN,NaN