In [48]:
import pandas as pd
from datetime import datetime, timedelta, time

In [49]:
dfPM = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_mesure_capteur_PM.txt', skiprows=4, delimiter='\t', header=0, encoding = 'unicode_escape', engine='python', skipfooter=1 )

In [50]:
dfPM

,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN
...,...,...,...,...,...,...,...,...,...,...
437,07/12/2021,10:06:23,07/12/2021,10:06:33,"4369,83","6,24","11,69","16,51","16,54",NaN
438,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN
439,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN

In [51]:
dfCM = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_mesure_capteur_Cm_P_M1.txt', delimiter='\t', header=0, encoding = 'unicode_escape', engine='python')

In [52]:
dfCM

,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
0,07/12/2021,08:53:03,"0,00","0,006068","100,477013","0,297158","0,297158",NaN
1,07/12/2021,08:53:13,"9,94","0,014342","87,791519","0,334537","0,334537",NaN
2,07/12/2021,08:53:23,"19,87","0,018057","86,701172","0,347369","0,347369",NaN
3,07/12/2021,08:53:33,"30,02","0,011534","94,408958","0,305804","0,305804",NaN
4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
...,...,...,...,...,...,...,...,...
441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN
445,07/12/2021,10:07:13,"4450,00","0,014342","82,629318","0,344106","0,344106",NaN

In [53]:
def mergeDF_PM_CM(PM, CM, index_beginning_PM, index_end_PM, index_beginning_CM, index_end_CM):
    dfPMs = pd.concat([PM.iloc[index_beginning_PM:index_end_PM].reset_index(), CM.iloc[index_beginning_CM:index_end_CM].reset_index()], axis = 1)
    return dfPMs

In [54]:
dfPMs = mergeDF_PM_CM(dfPM, dfCM, 0, dfPM.shape[0], 3, dfCM.shape[0])
dfPMs

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Unnamed: 9,index,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,3,07/12/2021,08:53:33,"30,02","0,011534","94,408958","0,305804","0,305804",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,5,07/12/2021,08:53:54,"50,25","0,010748","366,369293","0,271827","0,271827",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,6,07/12/2021,08:54:03,"59,97","0,011452","190,378845","0,275540","0,275540",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,7,07/12/2021,08:54:13,"69,92","0,007221","107,264763","0,300153","0,300153",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",NaN,441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",NaN,442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445,07/12/2021,10:07:13,"4450,00","0,014342","82,629318","0,344106","0,344106",NaN

In [55]:
dfWeather = pd.read_csv('erdre_aller_7_12/E_07-12-21_Pied_1_Aller_et_Retour_meteo.txt', skiprows=14, delimiter=';', header=0)

In [56]:
dfWeather

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,2,08:40:19,"8,3","92,7","1007,2","1,51",177,"744,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,3,08:40:20,"8,3","92,7","1007,2","1,44",153,"749,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,4,08:40:21,"8,3","92,7","1007,2","1,9",152,"745,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,5,08:40:22,"8,3","92,7","1007,2","2,47",176,"744,1",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,6,08:40:23,"8,3","92,7","1007,2","1,95",188,"749,3",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9584,9592,11:20:09,"11,2","86,5","1002,4","3,74",357,"581,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9585,9593,11:20:10,"11,1","86,5","1002,4","3,18",2,583,0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9586,9594,11:20:11,"11,1","86,5","1002,4","2,67",356,"582,2",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9587,9595,11:20:12,"11,1","86,4","1002,4","2,35",347,"581,4",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9588,9596,11:20:13,"11,1","86,4","1002,4","2,06",346,"583,6",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [57]:
# Remove space at the end of heure
dfWeather['heure'] = dfWeather['heure'].apply(lambda x: x.strip())

In [58]:
dfPMsWithWeather = dfPMs.merge(right=dfWeather, how='left', left_on='time beginning', right_on='heure')
dfPMsWithWeather

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,333.0,"615,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,340.0,"613,4",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,18.0,"613,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,42.0,"611,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,359.0,"610,1",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,5.0,"586,9",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,25.0,"586,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,2.0,"587,3",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,356.0,"586,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
dfGeoloc = pd.read_csv('erdre_aller_7_12/E_07-12-2021_Pied_1_Aller_Geoloc.csv', delimiter=',')

In [60]:
dfGeoloc

      Elev.       Lat.      Lon.                  Timestamp
0     -27.0  47.228248 -1.553037  2021-12-07T07:42:55+00:00
1      71.0  47.228394 -1.553178  2021-12-07T07:42:56+00:00
2      90.0  47.228367 -1.553143  2021-12-07T07:42:57+00:00
3      87.0  47.228394 -1.553220  2021-12-07T07:42:58+00:00
4      84.0  47.228361 -1.553220  2021-12-07T07:42:59+00:00
...     ...        ...       ...                        ...
1513   70.0  47.255996 -1.539465  2021-12-07T08:53:55+00:00
1514   70.0  47.256017 -1.539496  2021-12-07T08:53:57+00:00
1515   70.0  47.256046 -1.539455  2021-12-07T08:53:58+00:00
1516   71.0  47.256076 -1.539430  2021-12-07T08:53:59+00:00
1517   70.0  47.256088 -1.539417  2021-12-07T08:54:00+00:00

[1518 rows x 4 columns]

dfGeoloc['time'] = dfGeoloc['Timestamp'].apply(func=lambda x: x.split('T')[1].split("+")[0])

dfGeoloc

def f(x):
    res=''
    if x[1] == '9':
        res = str(int(x[0]) + 1) + '0' + x[2:]
    else:
        res= x[0] + str(int(x[1]) + 1) + x[2:]
    return res

dfGeoloc['timeMerge'] = dfGeoloc['time'].apply(f)

dfGeoloc

In [61]:
dfPMsWithWeather

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,333.0,"615,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,340.0,"613,4",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,18.0,"613,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,42.0,"611,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,359.0,"610,1",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,5.0,"586,9",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
439,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,25.0,"586,7",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
440,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,2.0,"587,3",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
441,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,356.0,"586,8",0.0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
dfWeather

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,2,08:40:19,"8,3","92,7","1007,2","1,51",177,"744,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,3,08:40:20,"8,3","92,7","1007,2","1,44",153,"749,9",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,4,08:40:21,"8,3","92,7","1007,2","1,9",152,"745,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,5,08:40:22,"8,3","92,7","1007,2","2,47",176,"744,1",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,6,08:40:23,"8,3","92,7","1007,2","1,95",188,"749,3",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9584,9592,11:20:09,"11,2","86,5","1002,4","3,74",357,"581,5",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9585,9593,11:20:10,"11,1","86,5","1002,4","3,18",2,583,0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9586,9594,11:20:11,"11,1","86,5","1002,4","2,67",356,"582,2",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9587,9595,11:20:12,"11,1","86,4","1002,4","2,35",347,"581,4",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
9588,9596,11:20:13,"11,1","86,4","1002,4","2,06",346,"583,6",0,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [63]:
def createColTimeGeoloc(df, hour, minutes, seconds):
    df['timeTmp'] = df['Timestamp'].apply(
        lambda x:
        datetime.fromisoformat(x) +
        timedelta(hours=hour, minutes=minutes, seconds=seconds)
    )
    df['time'] = df['timeTmp'].apply(lambda x: str(x).split(" ")[1].split("+")[0])
    return df

datetime.fromisoformat('2011-11-04 00:05:23.283+00:00')

In [64]:
dfGeoloc = createColTimeGeoloc(dfGeoloc, 1, 10, 39)
dfGeoloc

,Elev.,Lat.,Lon.,Timestamp,timeTmp,time
0,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00,08:53:34
1,71.0,47.228394,-1.553178,2021-12-07T07:42:56+00:00,2021-12-07 08:53:35+00:00,08:53:35
2,90.0,47.228367,-1.553143,2021-12-07T07:42:57+00:00,2021-12-07 08:53:36+00:00,08:53:36
3,87.0,47.228394,-1.553220,2021-12-07T07:42:58+00:00,2021-12-07 08:53:37+00:00,08:53:37
4,84.0,47.228361,-1.553220,2021-12-07T07:42:59+00:00,2021-12-07 08:53:38+00:00,08:53:38
...,...,...,...,...,...,...
1513,70.0,47.255996,-1.539465,2021-12-07T08:53:55+00:00,2021-12-07 10:04:34+00:00,10:04:34
1514,70.0,47.256017,-1.539496,2021-12-07T08:53:57+00:00,2021-12-07 10:04:36+00:00,10:04:36
1515,70.0,47.256046,-1.539455,2021-12-07T08:53:58+00:00,2021-12-07 10:04:37+00:00,10:04:37
1516,71.0,47.256076,-1.539430,2021-12-07T08:53:59+00:00,2021-12-07 10:04:38+00:00,10:04:38
1517,70.0,47.256088,-1.539417,2021-12-07T08:54:00+00:00,2021-12-07 10:04:39+00:00,10:04:39

In [65]:
dfFinal = dfPMsWithWeather.merge(right=dfGeoloc, how='left', left_on='time beginning', right_on='time')
dfFinal

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,Elev.,Lat.,Lon.,Timestamp,timeTmp,time_y
0,0.0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",...,"0,00","0,00","0,00",NaN,-27.0,47.228248,-1.553037,2021-12-07T07:42:55+00:00,2021-12-07 08:53:34+00:00,08:53:34
1,1.0,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",...,"0,00","0,00","0,00",NaN,77.0,47.228361,-1.553233,2021-12-07T07:43:05+00:00,2021-12-07 08:53:44+00:00,08:53:44
2,2.0,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",...,"0,00","0,00","0,00",NaN,67.0,47.228425,-1.553269,2021-12-07T07:43:14+00:00,2021-12-07 08:53:53+00:00,08:53:53
3,3.0,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",...,"0,00","0,00","0,00",NaN,65.0,47.228421,-1.553281,2021-12-07T07:43:24+00:00,2021-12-07 08:54:03+00:00,08:54:03
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
441,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
442,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
443,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [66]:
dfFinal.loc[dfFinal.time_y.isna()]

,index,date beginning,time beginning,date end,time end,relative time [s],PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,...,PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,Elev.,Lat.,Lon.,Timestamp,timeTmp,time_y
4,4.0,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
5,5.0,07/12/2021,08:54:23,07/12/2021,08:54:33,"49,87","6,01","11,87","16,98","24,87",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
6,6.0,07/12/2021,08:54:33,07/12/2021,08:54:43,"59,78","5,78","10,85","16,62","18,51",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
7,7.0,07/12/2021,08:54:44,07/12/2021,08:54:54,"69,97","6,43","11,66","15,84","15,73",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
8,8.0,07/12/2021,08:54:53,07/12/2021,08:55:03,"79,91","6,55","11,15","13,83","13,70",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,438.0,07/12/2021,10:06:33,07/12/2021,10:06:43,"4379,77","7,64","14,89","21,66","23,03",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
441,439.0,07/12/2021,10:06:43,07/12/2021,10:06:53,"4389,78","6,84","14,57","23,29","23,34",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
442,440.0,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
443,441.0,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",...,"0,00","0,00","0,00",NaN,NaN,NaN,NaN,NaN,NaT,NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [67]:
# Not inner join -> keep all capteurs data ???

In [68]:
dfCM.loc[(dfCM['time']>= dfPM['time beginning'].min()) & (dfCM['time']<= dfPM['time beginning'].max())]

,date,time,relative time [s],Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",Unnamed: 7
4,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
5,07/12/2021,08:53:54,"50,25","0,010748","366,369293","0,271827","0,271827",NaN
6,07/12/2021,08:54:03,"59,97","0,011452","190,378845","0,275540","0,275540",NaN
7,07/12/2021,08:54:13,"69,92","0,007221","107,264763","0,300153","0,300153",NaN
8,07/12/2021,08:54:23,"80,11","0,014125","74,670677","0,324940","0,324940",NaN
...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:23,"4399,87","0,038620","83,986641","0,345411","0,345411",NaN
441,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN

In [69]:
dfTest = pd.concat([dfPM, dfCM.loc[(dfCM['time']>= dfPM['time beginning'].min()) & (dfCM['time']<= dfPM['time beginning'].max())]], ignore_index=True, axis=1)

In [70]:
dfTest

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,07/12/2021,08:53:34,07/12/2021,08:53:44,"0,00","10,09","15,46","20,44","20,67",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/12/2021,08:53:44,07/12/2021,08:53:54,"10,08","17,55","21,58","24,27","24,14",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/12/2021,08:53:53,07/12/2021,08:54:03,"19,80","9,18","13,98","18,32","18,61",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/12/2021,08:54:03,07/12/2021,08:54:13,"29,75","6,85","11,02","13,17","13,06",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/12/2021,08:54:13,07/12/2021,08:54:23,"39,94","5,83","9,56","12,59","15,57",NaN,07/12/2021,08:53:44,"40,17","0,012735","194,990509","0,282740","0,282740",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:53,07/12/2021,10:07:03,"4399,89","7,47","15,22","22,08","23,64",NaN,07/12/2021,10:06:23,"4399,87","0,038620","83,986641","0,345411","0,345411",NaN
441,07/12/2021,10:07:03,07/12/2021,10:07:13,"4409,83","6,98","13,54","19,78","20,07",NaN,07/12/2021,10:06:33,"4410,00","0,010956","82,272552","0,328108","0,328108",NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:06:43,"4419,94","0,017563","83,801445","0,358579","0,358579",NaN
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:06:53,"4429,95","0,017313","80,996536","0,356801","0,356801",NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/12/2021,10:07:03,"4440,06","0,018388","88,420227","0,348339","0,348339",NaN

In [71]:
dfPms = dfPM.merge(how='left', right=dfCM, left_on='time beginning', right_on='time')

In [72]:
dfFinal.columns

Index(['index', 'date beginning', 'time beginning', 'date end', 'time end',
       'relative time [s]', 'PM1_ambient - ', 'PM2.5_ambient - ',
       'PM4_ambient - ', 'PM10_ambient - ', 'Unnamed: 9', 'index', 'date',
       'time_x', 'relative time [s]', 'Cm [mg/m^3]', 'Cn [P/cm^3]',
       'M1,0 [Âµm]', 'M1,0 [Âµm].1', 'Unnamed: 7', 'Chrono', 'heure', 'T [Â°C)',
       'HR [%).', 'Pression [mBar)', 'Vit. Vent [m/s)', 'Dir. Vent [Â°)',
       'Lumi [W/mÂ²)', 'POM [Km).', 'CN[P/cm3)', 'PMTot[Âµm)', 'PM1[Âµm)',
       'PM2.5[Âµm)', 'PM4[Âµm)', 'PM10[Âµm)', 'Unnamed: 15', 'Elev.', 'Lat.',
       'Lon.', 'Timestamp', 'timeTmp', 'time_y'],
      dtype='object')

In [74]:
dfFinal2 = dfFinal.drop(['Unnamed: 9', 'Unnamed: 15', 'Timestamp', 'timeTmp', 'time_y', 'Unnamed: 7', 'time_x', 'Chrono', 'heure', 'date end', 'relative time [s]', 'index', 'date', 'POM [Km).', 'CN[P/cm3)', 'PMTot[Âµm)', 'PM1[Âµm)', 'PM2.5[Âµm)', 'PM4[Âµm)', 'PM10[Âµm)'], axis=1)

In [80]:
dfFinal2['trajet'] = 'Erdre_aller_0712'

/Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/MINT/captation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
dfFinal2

,date beginning,time beginning,time end,PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]",...,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),Elev.,Lat.,Lon.,trajet
0,07/12/2021,08:53:34,08:53:44,"10,09","15,46","20,44","20,67","0,011534","94,408958","0,305804",...,"8,4","94,4","1007,5","1,59",333.0,"615,8",-27.0,47.228248,-1.553037,Erdre_aller_0712
1,07/12/2021,08:53:44,08:53:54,"17,55","21,58","24,27","24,14","0,012735","194,990509","0,282740",...,"8,4","94,5","1007,5","0,66",340.0,"613,4",77.0,47.228361,-1.553233,Erdre_aller_0712
2,07/12/2021,08:53:53,08:54:03,"9,18","13,98","18,32","18,61","0,010748","366,369293","0,271827",...,"8,4","94,5","1007,5","0,29",18.0,"613,7",67.0,47.228425,-1.553269,Erdre_aller_0712
3,07/12/2021,08:54:03,08:54:13,"6,85","11,02","13,17","13,06","0,011452","190,378845","0,275540",...,"8,4","94,5","1007,5","0,64",42.0,"611,7",65.0,47.228421,-1.553281,Erdre_aller_0712
4,07/12/2021,08:54:13,08:54:23,"5,83","9,56","12,59","15,57","0,007221","107,264763","0,300153",...,"8,4","94,5","1007,6","0,49",359.0,"610,1",NaN,NaN,NaN,Erdre_aller_0712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:33,10:06:43,"7,64","14,89","21,66","23,03","0,010956","82,272552","0,328108",...,"9,5","94,4","1005,2","0,69",5.0,"586,9",NaN,NaN,NaN,Erdre_aller_0712
441,07/12/2021,10:06:43,10:06:53,"6,84","14,57","23,29","23,34","0,017563","83,801445","0,358579",...,"9,5","94,4","1005,2","2,18",25.0,"586,7",NaN,NaN,NaN,Erdre_aller_0712
442,07/12/2021,10:06:53,10:07:03,"7,47","15,22","22,08","23,64","0,017313","80,996536","0,356801",...,"9,5","94,4","1005,2","3,06",2.0,"587,3",NaN,NaN,NaN,Erdre_aller_0712
443,07/12/2021,10:07:03,10:07:13,"6,98","13,54","19,78","20,07","0,018388","88,420227","0,348339",...,"9,5","94,3","1005,1","3,93",356.0,"586,8",NaN,NaN,NaN,Erdre_aller_0712
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,014342","82,629318","0,344106",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Erdre_aller_0712

In [82]:
dfFinal2.to_csv('erdre_aller_7_12/erdrealler_7_12_resultat.csv', index=False)

In [75]:
dfFinal2.columns

Index(['date beginning', 'time beginning', 'time end', 'PM1_ambient - ',
       'PM2.5_ambient - ', 'PM4_ambient - ', 'PM10_ambient - ', 'Cm [mg/m^3]',
       'Cn [P/cm^3]', 'M1,0 [Âµm]', 'M1,0 [Âµm].1', 'T [Â°C)', 'HR [%).',
       'Pression [mBar)', 'Vit. Vent [m/s)', 'Dir. Vent [Â°)', 'Lumi [W/mÂ²)',
       'Elev.', 'Lat.', 'Lon.'],
      dtype='object')

In [76]:
dfFinal2

,date beginning,time beginning,time end,PM1_ambient -,PM2.5_ambient -,PM4_ambient -,PM10_ambient -,Cm [mg/m^3],Cn [P/cm^3],"M1,0 [Âµm]","M1,0 [Âµm].1",T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),Elev.,Lat.,Lon.
0,07/12/2021,08:53:34,08:53:44,"10,09","15,46","20,44","20,67","0,011534","94,408958","0,305804","0,305804","8,4","94,4","1007,5","1,59",333.0,"615,8",-27.0,47.228248,-1.553037
1,07/12/2021,08:53:44,08:53:54,"17,55","21,58","24,27","24,14","0,012735","194,990509","0,282740","0,282740","8,4","94,5","1007,5","0,66",340.0,"613,4",77.0,47.228361,-1.553233
2,07/12/2021,08:53:53,08:54:03,"9,18","13,98","18,32","18,61","0,010748","366,369293","0,271827","0,271827","8,4","94,5","1007,5","0,29",18.0,"613,7",67.0,47.228425,-1.553269
3,07/12/2021,08:54:03,08:54:13,"6,85","11,02","13,17","13,06","0,011452","190,378845","0,275540","0,275540","8,4","94,5","1007,5","0,64",42.0,"611,7",65.0,47.228421,-1.553281
4,07/12/2021,08:54:13,08:54:23,"5,83","9,56","12,59","15,57","0,007221","107,264763","0,300153","0,300153","8,4","94,5","1007,6","0,49",359.0,"610,1",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,07/12/2021,10:06:33,10:06:43,"7,64","14,89","21,66","23,03","0,010956","82,272552","0,328108","0,328108","9,5","94,4","1005,2","0,69",5.0,"586,9",NaN,NaN,NaN
441,07/12/2021,10:06:43,10:06:53,"6,84","14,57","23,29","23,34","0,017563","83,801445","0,358579","0,358579","9,5","94,4","1005,2","2,18",25.0,"586,7",NaN,NaN,NaN
442,07/12/2021,10:06:53,10:07:03,"7,47","15,22","22,08","23,64","0,017313","80,996536","0,356801","0,356801","9,5","94,4","1005,2","3,06",2.0,"587,3",NaN,NaN,NaN
443,07/12/2021,10:07:03,10:07:13,"6,98","13,54","19,78","20,07","0,018388","88,420227","0,348339","0,348339","9,5","94,3","1005,1","3,93",356.0,"586,8",NaN,NaN,NaN
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,014342","82,629318","0,344106","0,344106",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Termite files

In [94]:
df = pd.read_csv('SO_25-01-22_Pied_3_Aller_et_retour_meteo.txt', skiprows=4, header=None)

In [96]:
df.set_axis(['Node letter', 'Wind direction', 'Wind speed', 'Pressure', 'Humidity', 'Temperature', 'Dewpoint', 'PRT', 'An I/P 1', 'An I/P 2', 'DigI/P', 'Supply Voltage', 'Status Code', 'End character' ], axis=1, inplace=True)

In [97]:
df

,Node letter,Wind direction,Wind speed,Pressure,Humidity,Temperature,Dewpoint,PRT,An I/P 1,An I/P 2,DigI/P,Supply Voltage,Status Code,End character
0,Q,204.0,0.58,1029.3,97.0,0.0,-0.4,NaN,X,16.4,0.0,11.7,0.0,2F
1,00: Q,177.0,0.29,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,2E
2,01: Q,210.0,0.34,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,20
3,Q,198.0,0.19,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,2C
4,03: Q,217.0,0.29,1029.2,97.0,0.0,-0.4,NaN,X,16.6,0.0,11.7,0.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5458,Q,349.0,0.93,1031.5,99.1,0.3,0.2,NaN,X,66.2,0.0,6.2,0.0,21
5459,01:30:00: Q,336.0,0.84,1031.5,99.1,0.3,0.2,NaN,X,67.4,0.0,6.2,0.0,28
5460,01:30:01: Q,341.0,1.11,1031.5,99.2,0.3,0.2,NaN,X,69.6,0.0,6.2,0.0,2A
5461,Q,336.0,0.59,1031.5,99.2,0.3,0.2,NaN,X,71.1,0.0,6.2,0.0,29
5462,01:30:03: Q,10.0,0.71,1031.5,99.1,0.4,0.2,NaN,X,71.7,0.0,6.2,0.0,26

In [117]:
with open("SO_25-01-22_Pied_3_Aller_et_retour_meteo.txt", 'r') as f:
    lines = f.readlines()
    print(lines[2].split(" "))
    startTime = lines[2].split(" ")[-2]

['Termite', 'log,', 'started', 'at', 'Tue', 'Jan', '25', '09:56:51', '2022\n']

In [118]:
startTime

'09:56:51'

In [ ]:
dfGeoloc['timeTmp'] = dfGeoloc['Timestamp'].apply(
    lambda x:
    datetime.fromisoformat(x) +
    timedelta(hours=1, minutes=10, seconds=39)
)

In [129]:
df['time'] = datetime.strptime(startTime, "%H:%M:%S") + timedelta(seconds=1)

In [130]:
df

,Node letter,Wind direction,Wind speed,Pressure,Humidity,Temperature,Dewpoint,PRT,An I/P 1,An I/P 2,DigI/P,Supply Voltage,Status Code,End character,time
0,Q,204.0,0.58,1029.3,97.0,0.0,-0.4,NaN,X,16.4,0.0,11.7,0.0,2F,1900-01-01 09:56:52
1,00: Q,177.0,0.29,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,2E,1900-01-01 09:56:52
2,01: Q,210.0,0.34,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,20,1900-01-01 09:56:52
3,Q,198.0,0.19,1029.2,97.0,0.0,-0.4,NaN,X,16.5,0.0,11.7,0.0,2C,1900-01-01 09:56:52
4,03: Q,217.0,0.29,1029.2,97.0,0.0,-0.4,NaN,X,16.6,0.0,11.7,0.0,28,1900-01-01 09:56:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5458,Q,349.0,0.93,1031.5,99.1,0.3,0.2,NaN,X,66.2,0.0,6.2,0.0,21,1900-01-01 09:56:52
5459,01:30:00: Q,336.0,0.84,1031.5,99.1,0.3,0.2,NaN,X,67.4,0.0,6.2,0.0,28,1900-01-01 09:56:52
5460,01:30:01: Q,341.0,1.11,1031.5,99.2,0.3,0.2,NaN,X,69.6,0.0,6.2,0.0,2A,1900-01-01 09:56:52
5461,Q,336.0,0.59,1031.5,99.2,0.3,0.2,NaN,X,71.1,0.0,6.2,0.0,29,1900-01-01 09:56:52
5462,01:30:03: Q,10.0,0.71,1031.5,99.1,0.4,0.2,NaN,X,71.7,0.0,6.2,0.0,26,1900-01-01 09:56:52